<h1 style="text-align: center">Fun Of Heuristic File Uploader</h1>

<div style="text-align: center">
  <form>      
    <div>
      <input type="file" name="image" (change)="selectImage($event)" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
  </form>
</div>

<hr>
<h2 style="text-align: center">Multiple</h2>
<div style="text-align: center">
  <form>      
    <div>
      <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
    </div>
  </form>
</div>